<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>

    <% if (typeof(styles) !== 'undefined') { %>
        <%- styles %>
    <% } %>
</head>
<body style="height: 100%; width: 100%; padding: 0; margin: 0;">
    <div id="app"><% if (typeof(app) !== 'undefined') { %><%- app  %><% } %></div>

    <% if (typeof(preloadedStore) !== 'undefined') { %>
        <script id="__preloaded_state__">
            window.__PRELOADED_STATE__ = <%- preloadedStore %>;
        </script>
    <% } %>

    <% if (typeof(scripts) !== 'undefined') { %>
        <%- scripts %>
    <% } %>
</body>

</html>
